<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <!-- Bean entry that creates an instance of the UserIOConsoleImpl under the name of userIO.-->
    <bean id="userIO" class="com.assessment3.vendingmachine.ui.UserIOConsoleImpl"/>

    <!-- Bean entry that creates an instance of the InventoryView under the name of inventoryView. The constructor argument
    passes the userIO as a parameter.-->
    <bean id="inventoryView" class="com.assessment3.vendingmachine.ui.InventoryView">
        <constructor-arg ref="userIO"/>
    </bean>

    <!-- Bean entry that creates an instance of the InventoryDAOFileImpl under the name of inventoryDAO.-->
    <bean id="inventoryDAO" class="com.assessment3.vendingmachine.dao.InventoryDAOFileImpl"/>

    <!-- Bean entry that creates an instance of the AuditDAOFileImpl under the name of inventoryDAO.-->
    <bean id="auditDAO" class="com.assessment3.vendingmachine.dao.AuditDAOFileImpl"/>

    <!-- Bean entry that creates an instance of the InventoryServiceLayerImpl under the name of inventoryServiceLayer.
    The constructor arguments passed through are inventoryDAO and auditDAO.-->
    <bean id="inventoryServiceLayer" class="com.assessment3.vendingmachine.service.InventoryServiceLayerImpl">
        <constructor-arg ref="inventoryDAO"/>
        <constructor-arg ref="auditDAO"/>
    </bean>

    <!-- Bean entry that creates an instance of the InventoryController under the name of inventoryController.
    The constructor arguments passed through are inventoryServiceLayer and inventoryView.-->
    <bean id="inventoryController" class="com.assessment3.vendingmachine.controller.InventoryController">
        <constructor-arg ref="inventoryServiceLayer"/>
        <constructor-arg ref="inventoryView"/>
    </bean>

</beans>